/* ==========================================================================
   Social network icons
   ========================================================================== */

.socialbox {
    text-align: center
}
  
.socialbadge {
	width: 10%;
    max-width: 4em;
    margin: 1em;
}
